{% extends 'base.html' %}
{% block title %}
    {{ cat }}
{% endblock title %}

{% block content %}
<div class="container">
  {% if news_list %}
  <h1 class="mt-2" style="text-align: center; color: brown;">The Latest News Updates In <strong style="color: green;">{{ cat }}</strong>...</h1>
  <hr>
  <div class="row mb-2">
      {% for news in news_list %}
      <div class="col-md-12">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-lg h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h2 class="mb-0">{{ news.title }}</h2>
              <br>
              <!-- <p class="placeholder-glow">
                <span class="placeholder col-12 placeholder-xs"></span>
              </p>  -->
              {% if news.description %}
              <blockquote class="blockquote">
                <p><i class="card-text mb-auto">{{ news.description }} <a href="{{ news.url }}" target="_blank">Read more</a></i></p>
              </blockquote>
              {% endif %}
              <figcaption class="blockquote-footer text-end">
                {% if news.source.name %}
                  <strong class="d-inline-block mb-2 text-end"><strong class="text-danger">Source:&ThickSpace;</strong>{{ news.source.name }}</strong>
                {% endif %}
              </figcaption>
              <!-- <div class="mb-1 text-muted">{{ news.publishedAt }}</div> -->                
            </div>
            {% if news.urlToImage %}
              <div class="col-auto d-none d-lg-block">
                  <img src="{{ news.urlToImage }}" class="mx-2 my-2 rounded-3 border border-5 bd-placeholder-img" width="250" height="250" alt="Story Picture">
              </div>
            {% endif %}
          </div>
      </div>
      {% endfor %} 
    </div>    
  {% else %}  
  <h2 class="mt-5" style="text-align: center; color: brown;">Sorry :(</h2>
  <h1 class="mt-5" style="text-align: center; color: brown;"><strong style="color: green;">{{ cat }}</strong> news category does not exist...</h1>
  <hr>
  {% endif %}
 
</div>

{% endblock %}